CMakeLists.txt.user
.idea/
cmake-build-debug
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/
*~
lib/
.DS_Store
.sync-config.cson
